{% extends 'base.html.twig' %}

{% block content %}
<div class="flex flex-wrap gap-4 justify-center">
    {% for character in characters %}
        <div class="flex flex-row basis-2/5 items-center rounded-lg shadow-md shadow-gray-500 md:h-52 md:flex-row md:max-w-xl bg-gray-800">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-52 md:w-52 md:rounded-none md:rounded-l-lg"
                 src="{{ character.image }}"
                 alt=""/>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <form action="/character" method="GET">
                    <button type="submit" name="characterId" value="{{ character.id }}" class="text-2xl font-bold tracking-tight text-white hover:text-yellow-500">
                        {{ character.name }}
                    </button>
                </form>
                <p class="mb-3 font-bold text-sm text-white">
                    {{ character.status }} - {{ character.species }}
                </p>
                <p class="font-normal text-sm text-gray-400">
                    Last known location:
                </p>
                <p class="mb-3 font-normal text-base text-white">
                    {{ character.location }}
                </p>
                <p class="font-normal text-sm text-gray-400">
                    First seen in:
                </p>
                <form action="/episode" method="GET">
                    <button type="submit" name="episodeId" value="{{ character.episodes.id }}" class="mb-3 font-normal text-base text-white hover:text-yellow-500">
                        {{ character.episodes.name }}
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}